body {
  background-color: #000;
  color: white;
  font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
ul,
img,
p,
a {
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  list-style: none;
}

.conteiner {
  width: 1466px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
  line-height: 0px;
}

.header-logo-m {
  font-family: "Lemon";
  font-size: 40px;
  margin-right: 14px;
  line-height: 0px;
  /* border-radius: 14px; */
  border: 4px solid;
  border-image-source: linear-gradient(132.88deg, #326cff 3.44%, #26fff2 100%);
  border-image-slice: 1;
}

/* .header-logo-m::before {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 14px;
  border: 4px solid;
  border-image-source: linear-gradient(132.88deg, #326cff 3.44%, #26fff2 100%);
  border-image-slice: 1;
} */

.header-list {
  display: flex;
}

.header-list-item:not(:last-child) {
  margin-right: 54px;
}

.header-list-link {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  opacity: 0.5;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-list-link:is(:hover, :focus) {
  opacity: 1;
}

.header-list-icon {
  display: flex;
  align-items: center;
}

.header-list-icon-item:not(:last-child) {
  margin-right: 75px;
}
